@import "tailwindcss";

@utility bg-main-dark {
  background-color: #1b1b1f;
}
@utility bg-secondary-dark {
  background-color: #272a2f;
}
@utility bg-secondary-light {
  background-color: #eff0f3;
}
@utility text-highlight {
  color: #8b40c6;
}
@utility bg-highlight {
  background-color: #8b40c6;
}
@utility border-highlight {
  border-color: #8b40c6;
}
@utility title-dark {
  color: #dfdfd6;
}
@utility title-light {
  color: #dfdfd6;
}
@utility shadow-highlight {
  box-shadow: 2px 2px 5px rgba(139, 64, 198, 0.5);
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mincho";
  src: url("/fonts/mincho.ttf");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-inter: Inter, sans-serif;
  --font-mincho: Mincho, sans-serif;
  --breakpoint-3xl: 1920px;
  --breakpoint-xs: 590px;
  --breakpoint-2xs: 320px;
}

.nav-border-bottom {
  @apply border-b border-gray-300 dark:border-black;
}
.social-icon {
  @apply w-[24px] h-[24px] flex justify-center items-center opacity-0;
}
.active-section {
  @apply text-highlight;
}

html {
  scroll-behavior: smooth;
}
* {
  transition: 0.3s;
}
[data-cloak] {
  display: none !important;
}
input {
  display: none;
}
.display {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
label {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background-color: #eff0f3;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05) inset;
  cursor: pointer;
  position: relative;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(10%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
svg {
  width: 18px;
  position: absolute;
}
.sun {
  color: #ffd600;
  margin-left: 0%;
  opacity: 1;
}
.moon {
  margin-left: -150%;
  color: white;
  opacity: 0;
}
input[type="checkbox"]:checked + .display label {
  background: #272a2f;
}
input[type="checkbox"]:checked + .display label .circle {
  left: 100%;
  transform: translate(-110%, -50%);
  background: #000000;
}
input[type="checkbox"]:checked + .display label .circle .sun {
  margin-left: 150%;
  opacity: 0;
}
input[type="checkbox"]:checked + .display label .circle .moon {
  margin-left: 0%;
  opacity: 1;
}
.marquee-wrapper {
  margin-inline: auto;
  position: relative;
  height: 40px;
  padding: 7px 0px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
}
@keyframes scrollLeft {
  to {
    left: -180px;
  }
}
.marquee-item {
  width: 180px;
  position: absolute;
  left: max(calc(180px * 7), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @apply text-lg font-bold;
}
.item1 {
  animation-delay: calc(30s / 7 * (7 - 1) * -1);
}
.item2 {
  animation-delay: calc(30s / 7 * (7 - 2) * -1);
}
.item3 {
  animation-delay: calc(30s / 7 * (7 - 3) * -1);
}
.item4 {
  animation-delay: calc(30s / 7 * (7 - 4) * -1);
}
.item5 {
  animation-delay: calc(30s / 7 * (7 - 5) * -1);
}
.item6 {
  animation-delay: calc(30s / 7 * (7 - 6) * -1);
}
.item7 {
  animation-delay: calc(30s / 7 * (7 - 7) * -1);
}
.marquee-wrapper:hover .marquee-item {
  animation-play-state: paused;
}
@media (hover: none), (pointer: coarse) {
  .cursor-circle {
    display: none !important;
  }
}
