@import "tailwindcss";

@utility bg-main-dark {
  background-color: #1b1b1f;
}
@utility text-highlight {
  color: #8b40c6;
}
@utility title-dark {
  color: #dfdfd6;
}
@utility title-light {
  color: #dfdfd6;
}

@custom-variant dark (&:where(.dark, .dark *));

[data-cloak] {
  display: none !important;
}
